body {
    background-color: #041C32;
    color: whitesmoke;
}

.img {
    text-align: center;
}

img {
    border: whitesmoke solid 5px;
}

.header {
    background-image: url("1.jpg");
    padding: 10px;
    margin: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}